body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(./images/pattern-background-desktop.svg);
    background-size: cover;
    background-color: hsl(225, 100%, 94%);
}

main {
    min-height: 100vh;
}

#outer-box {
    width: 25rem;
    background-color: hsl(225, 100%, 98%);
    border-radius: 1rem;
}

#order-summary {
    padding: 2rem;
}

#text {
    text-align: center;
}

#text > p {
    color: hsl(224, 23%, 55%);
}


#plan {
    justify-content: space-between;
    font-size: 0.9rem;
    padding: 1rem;
    background-color: hsl(227, 64%, 96%);
    border-radius: .7rem;
}

#plan-price-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

#plan-price-text > * {
    margin: 0;
}

#plan-price-text > p {
    color: hsl(224, 23%, 55%);
}

img {
    display: block;
    max-width: 100%;
}

#buttons {
    display: flex;
    flex-direction: column;
}

#payment-button {
    color: hsl(227, 64%, 96%);
    background-color: hsl(245, 75%, 52%);
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    margin: 1.2rem 0;
    font-weight: 700;
    box-shadow: 0 1rem 1rem hsl(233, 11%, 84%);
}

#cancel-button {
    border: none;
    background-color: hsl(225, 100%, 98%);
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    margin-top: .5rem;
}

/*Helper classes*/
.rounded-top-right-corner {
    border-radius: 1rem 1rem 0 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-lighter-font:hover {
    color: hsl(224, 23%, 55%)!important;
}

.hover-lighter-background:hover {
    background-color: hsl(245, 98%, 67%)!important;
}

.hover-darker-font:hover {
    color: black!important;
}